/* [ GENERAL ] */
/*================================================== */


body,
html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #555;
  background: #fff;
  font-size: 0.9em;
  font-weight: 400;
}

.overflow-hidden {
  overflow: hidden !important;
}

.p-none {
  padding: 0 !important;
}

.m-none {
  margin: 0 !important;
}

.mr-20 {
  margin-left: 20px;
}

hr.about-section {
  margin: 72px auto 50px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
/* Buttons */
.btn {
  box-shadow: none !important;
  border-radius: 26px;
  font-weight: 500;
  height: 46px;
  line-height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 33px;
  outline: none !important;
  overflow: hidden;
  display: inline-block;
  position: relative;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .5px;
  border: 0;
}

.btn span {
  position: relative;
  z-index: 2;
}

.btn:before {
  position: absolute;
  content: "";
  top: 0;
  height: 102%;
  left: -25%;
  width: 0%;
  background-color: #555;
  transform: skew(-22deg);
  transition-duration: .6s;
  z-index: 1;
}

.btn:hover:before {
  width: 180%;
}

.btn.btn-secondary {
  color: #555;
}

.btn.btn-secondary,
.btn.btn-secondary:after {
  background: transparent;
}

.btn.btn-secondary:hover {
  color: #fff;
}

.btn.btn-secondary:before {
  background: #555;
}

.btn i {
  padding-right: 11px;
}

.btn:hover {
  box-shadow: none;
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-900 {
  font-weight: 900;
}

.back-mobile {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: initial;
  max-width: 1170px;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 1199px) {
  .container {
    width: 100%;
  }
}

/* BODY DARK
================================================== */

body.dark .resume-items .item a,
body.dark .project-info-container {
  background: #333;
}

body.dark,
body.dark .navigation,
body.dark .resume-items .item .bullet,
body.dark #main>section,
body.blog.dark,
body.dark #home .home-content,
body.dark .carousel-controls,
body.dark .arrow {
  background: #222;
}

body.dark .preloader::before,
body.dark .preloader::after {
  background: #111;
}

body.dark .personal-info h6,
body.dark .personal-info ul li span,
body.dark .contact-container .contact .rightside h6,
section#blog.dark  article h4,
body.blog.dark  article h4,
body.dark .main-text h1,
body.light.dark-header .main-text h1,
body.dark .project-details,
body.dark section#blog article h4,
body.dark section#blog .meta span,
body.dark .resume-container h6,
body.dark .resume-items .item .card-header,
body.dark .resume-items .item a:before ,
body.dark .skills li,
body.dark .skill-text,
body.dark .page-title h2,
body.dark .contact-container .contact .leftside h6,
body.dark .title-section {
  color: #fff;
}

body.dark .cd-stretchy-nav ul a,
body.dark .cd-stretchy-nav ul a span,
body.light.dark-header .cd-stretchy-nav.lighter ul a span,
body.light .cd-stretchy-nav.lighter-in-portfolio ul a span {
  color: rgba(255,255,255,.9);
}

body.dark .nav-container > div > ul li:not(:last-child):not(:active):after,
body.dark .chart-bar {
  background: #555;
}

body.dark .skills li:before {
  color: #333;
}

body.dark .cd-nav-trigger,
body.dark #cd-nav ul {
  box-shadow: none !important;
}

body.dark section#blog .meta {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

body.dark hr.about-section,
body.dark article hr,
body.dark .contact-container hr {
  background: #555;
}

body.dark #cd-nav ul {
  background: #333;
}

body.dark .progress-line {
  background-color: #fff;
}

body.dark .page-title .title-head-subtitle {
  color: #fff;
  opacity: .8;
}

body.dark .cd-nav-trigger.menu-is-open {
  background: transparent;
  border: 0;
}

body.dark .cd-nav-trigger span::before,
body.dark .cd-nav-trigger span::after {
  background: #fff;
}

body.dark .preloader-container h1,
body.dark .personal-info h6  {
  color: #fff;
}

body.dark .cd-nav-trigger.menu-is-open span {
  background: transparent;
}

body.dark #cd-nav li a,
body.dark .badges h6  {
  color: #eee;
}

body.dark #cd-nav li:last-child a {
  border-bottom: 0;
}

body.dark #cd-nav ul {
  border: 1px solid #353535;
}

body.dark .contact-container .contact .rightside form .form-group input[type=text],
body.dark .contact-container .contact .rightside form .form-group input[type=email],
body.dark .contact-container .contact .rightside form .form-group textarea,
body.dark .comments-form .form-group input[type=text],
body.dark .comments-form .form-group input[type=email],
body.dark .comments-form .form-group textarea {
  background: #333;
  border: 1px solid #444;
  color: #fff;
}

body.dark .comments-form .form-group i,
body.dark .contact-container .contact .rightside form .form-group i,
body.dark  .main-text h3,
body.light.dark-header .main-text h3,
body.dark p,
body.light.dark-header .main-text p,
body.dark .personal-info ul li,
body.dark .contact-container  .contact .leftside,
body.dark .navigation a{
  color: #eee;
}

body.dark .cd-stretchy-nav .stretchy-nav-bg {
  background: #333;
}

body.dark .profile-picture img {
  border: 3px solid #353535;
}

body.blog.dark .comments-list .comment:not(.last) {
  border-bottom: 1px solid #555;
}

body.dark .contact-container  .contact .leftside span i {
  color: rgba(255, 255, 255, .3);
}

body.blog.dark p,
body.blog.dark  .meta span {
  color: #eee;
}

body.blog.dark .meta,
body.blog .container-fluid.page-title .meta {
  background: rgba(0,0,0,.6) !important;
}

body.blog.dark .pagination li:hover {
  background: #333;
}

body.blog.dark .pagination li a {
  color: #eee;
}

body.blog.dark .comments-form  form .input-field label {
  color: #eee;
}

body.blog.dark .comments-form  form .input-field label.active {
  color: #eee !important;
}

body.blog.dark .comments-form  form .input-field input[type=text],
body.blog.dark .comments-form  form .input-field input[type=email],
body.blog.dark .comments-form  form .input-field textarea {
  color: #fff !important;
  border-bottom: 1px solid #555;
}

body.blog.dark .comments-heading,
body.blog.dark .comments-list .comment-author,
body.blog.dark .comments-list .comment-reply {
  color: #fff;
}

body.blog.dark .comments-list .comment-date {
  color: #aaa;
}

body.dark #loader-wrapper .loader-section {
  background: #333;
}

@media only screen and (max-width:1024px) {
  body.dark #header {
    background: #222;
  }
}

/* PRELOADER
================================================== */

.page {
  position: relative;
  height: 100%;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 111111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s all ease;
  pointer-events: none;
  backface-visibility: hidden;
}

.preloader::before, .preloader::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transition: .2s linear;
  transform: translateY(0);
  pointer-events: none;
}

.preloader::before {
  top: 0;
  bottom: 50%;
  background: #fff;
}

.preloader::after {
  top: 50%;
  bottom: 0;
  background: #fff;
}

.preloader.loaded::before, .preloader.loaded::after {
  transition: .4s linear;
}

.preloader.loaded::before {
  transform: translateY(-101%);
}

.preloader.loaded::after {
  transform: translateY(101%);
}

.preloader.loaded .preloader-container {
  opacity: 0;
  visibility: hidden;
  transition: 0s;
}

.preloader-text-center {
  transition: 0s .2s;
}

.preloader-container {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

.preloader-container h1 {
  margin: 0;
  padding: 20px 0;
  color: #222;
  font-weight: 700;
  font-size: 42px;
}

#progress-line-container {
  width: 100vw;
  height: 5px;
  overflow: hidden;
  margin: auto;
}

.progress-line {
  background: #222;
  margin-top: 0;
  margin-left: -100vw;
  animation-name: progess_animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 100vw;
  height: 5px;
  transition: .5s;
}

@keyframes progess_animation {
  0% {
    margin-left: -100vw;
  }

  100% {
    margin-left: 100vw;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 1;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

html:not(.lt-ie10) .not-animated {
  opacity: 0;
}

/* -------------------------------- 

keyframes

-------------------------------- */
@  -webkit-keyframes scaleIn {
    from {
    -webkit-transform: translateY(-50%) scale(0);
  }

  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}

@-moz-keyframes scaleIn {
  from {
    -moz-transform: translateY(-50%) scale(0);
  }

  to {
    -moz-transform: translateY(-50%) scale(1);
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
  }

  to {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes slideIn {
  from {
    opacity: 0;
    -moz-transform: translateX(-25px);
  }

  to {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* [ MAIN SECTION ] */
/*================================================== */

main#main {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

#main>section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
  z-index: 0;
  opacity: 0;
  background: #fff;
  -webkit-transition: opacity 0s ease .6s,-webkit-transform .6s ease .6s;
  transition: opacity 0s ease .6s,-webkit-transform .6s ease .6s;
  transition: transform .6s ease .6s,opacity 0s ease .6s;
  transition: transform .6s ease .6s,opacity 0s ease .6s,-webkit-transform .6s ease .6s;
}

body.fullscreendark #main>section#home {
  background-image: url('../assets/background-big.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body.bgimage #main>section#home:after,
body.bgvideo #main>section#home:after {
  content: '';
  position: absolute;
  background-color: rgba(0,0,0,.85);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.leftimagepicture {
  position: fixed;
  border-radius: 50%;
  max-width: 320px;
  left: calc(50vw - 360px);
  top: calc(50vh - 160px);
  border: 10px solid rgba(255,255,255,.1);
  z-index: 1;
}

body.bgvideo #main>section#home {
  overflow: hidden;
}

body.bgvideo #main>section#home .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100%;
}

#main>section.active {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 1;
  opacity: 1;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
}

.main-text p {
  margin: 11px 0 23px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

div.container.page-title {
  padding: 60px 0 54px;
  position: relative;
}

.page-title h2 {
  font-size: 55px;
  position: relative;
  z-index: 0;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #555;
}

.page-title .title-head-subtitle {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  color: #555;
  margin: 20px 0 0;
  opacity: .8;
  font-family: 'Open Sans', sans-serif;
}

.page-title .title-head-subtitle:before {
  position: absolute;
  content: "";
  height: 2px;
  right: -50px;
  top: 11px;
  width: 30px;
}

.page-title .title-head-subtitle:after {
  position: absolute;
  content: "";
  height: 2px;
  left: -50px;
  top: 11px;
  width: 30px;
}


/* MISCELLANEOUS
================================================== */

/*** Text Rotator ***/

.main-text-container {
  height: 100%;
  width: 100%;
  display: table;
  padding-left: 10vw;
  background-color: rgba(0,0,0,0.5);
}

.main-text {
  z-index: 13;
  position: relative;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

.main-text h3 {
  font-weight: 400;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
}

.main-text h1 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 500;
  margin: 19px 0 10px;
  color: #555;
  white-space: nowrap;
  position: relative;
}

.main-text h1 span {
  font-weight: 700;
}

.main-text h6.ah-headline {
  font-size: 25px;
  color: #555;
  font-weight: 500;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.ah-headline.clip span {
  padding: 0;
}

.ah-headline.clip span b {
  font-weight: 700;
}

.ah-headline.clip .ah-words-wrapper::after {
  display: none;
}

.call-to-actions-home a:first-child {
  margin-right: 25px;
}
